.container {
	width: calc(100% - 2 * (var(--left-margin-content)));
	min-width: var(--min-width);
	margin: 0 var(--margin-container);
}
.item-page {
	height: 100vh;
	min-height: var(--min-height);
	background-repeat: no-repeat;
	background-position-y: 70%;
	position: relative;
}
.item-page--left {
	background-position-x: 100%; 
}
.item-page--right {
	background-position-x: 0%; 
}
.films {
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 12%, transparent 40%), linear-gradient(to top, rgba(0,0,0,1) 6%, transparent 30%), linear-gradient(to right, rgba(0,0,0,1) 14%, transparent 30%), linear-gradient(to left, rgba(0,0,0,.3) 100%, transparent 0%), url('../../assets/img/films_bg.jpg');
}
.games { 	
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 12%, transparent 40%), linear-gradient(to top, rgba(0,0,0,1) 6%, transparent 30%), linear-gradient(to right, rgba(0,0,0,1) 14%, transparent 30%), linear-gradient(to left, rgba(0,0,0,.3) 100%, transparent 0%), url('../../assets/img/films_bg.jpg');
}
.series { 	
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 12%, transparent 40%), linear-gradient(to top, rgba(0,0,0,1) 6%, transparent 30%), linear-gradient(to right, rgba(0,0,0,1) 14%, transparent 30%), linear-gradient(to left, rgba(0,0,0,.3) 100%, transparent 0%), url('../../assets/img/series_bg.png');
}
.series--left { 	
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 12%, transparent 40%), linear-gradient(to top, rgba(0,0,0,1) 6%, transparent 30%), linear-gradient(to left, rgba(0,0,0,1) 14%, transparent 30%), linear-gradient(to right, rgba(0,0,0,.3) 100%, transparent 0%), url('../../assets/img/series_bg.png');
}

.item-page__title {
	position: relative;
	display: flex;
	padding-top: 50px;
	z-index: 1;
}
.item-page--left .item-page__title {
	justify-content: flex-start;
	padding-left: var(--left-margin-content);
}
.item-page--right .item-page__title {
	justify-content: flex-end;
	padding-right: var(--left-margin-content);	
}
.big-text {
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 7.5em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: var(--shadow-text);
}

.item-page__boxes {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba(0,0,0,.45);
	opacity: 0;
	transition: .5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-page__boxes:hover {
	transition: .8s ease;
	opacity: 1;
}
.item-page__boxes:hover > .boxes__wrap {
	transition: 1s ease;
	transform: translateY(30px);
}

.box {
	width: 100%;
	transition: .4s;
	cursor: pointer;	
}
.box:hover {
	transform: scale(1.175);
}
.boxes__wrap {
	margin-top: -30px;
	display: flex;
	align-items: baseline;
	transition: .4s ease;
}
.box__title, .box__img {
	display: flex;
	justify-content: center;
}
.box__title {
	padding: var(--box-title-padding);
}
.box__title span {
	font-family: 'Montserrat-ExtraBold', sans-serif;
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-shadow: var(--shadow-text);	
}

/*
todo transform: translate прочитать
stylelint prettier eslint
*/